/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
/*--------------------*/
@font-face {
	font-family: "alegreya";
	src: url("../fonts/alegreyasanssc-black-webfont.woff2") format("woff2"),
		url("../fonts/alegreyasanssc-black-webfont.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}
body {
	background-color: #fcf5e6;
}

.header {
	background: url("../img/hero.jpg") center center/ cover no-repeat;
	height: 180px;
	position: relative;
	overflow: hidden;
	margin-bottom: 85px;
	min-width: 1400px;
}
.header__content {
	margin: 0 auto;
	width: 1289px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	margin-top: 32px;
}
.pic-guys {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	height: 155%;
}
.pic-guys__item {
	background: url("../img/header-guys.png") center center / contain no-repeat;
	min-width: 450px;
	height: 100%;
}
.lined-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-156%, -82%);
	font-family: "alegreya", Arial, sans-serif;
	font-size: 31px;
	color: #fff;
	text-transform: uppercase;
	line-height: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.lined-text__word:nth-child(2) {
	margin-left: 5px;
}
.lined-text__word:nth-child(4) {
	margin-left: 5px;
}
.lined-text__word {
	padding: 3px 10px;
	background: #000;
	margin-top: -5px;
}

.lined-text__word--color-yellow {
	color: #ffbc2f;
}
.mail {
	text-align: center;
	font-size: 16px;
	font-family: "Roboto", Arial, sans-serif;
}
.maill__title {
	color: #212121;
}
.mail__content {
	color: #ffbc2f;
	background: #212121;
	padding: 9px 45px 9px 45px;
	margin-top: 4px;
}

.container {
	display: flex;
}
.products {
	margin: 0 auto;
	width: 1100px;
	position: relative;
}
.line-title{
	background: #cac3b3;
	height: 1px;
	position: absolute;
	bottom: 72%;
	left: 0px;
	max-width: 100%;
	width: 98%;

}
.line-data{
	background: #cac3b3;
	height: 1px;
	position: absolute;
	bottom: 37%;
	left: 0px;
	max-width: 100%;
	width: 98%;

}
.products__item {
	width: 536px;
	height: 668px;
	background-color: #ffbc2f;
	position: relative;
}
.products__content {
	width: 473px;
	height: 414px;
	position: absolute;
	top: 53%;
	left: 50%;
	transform: translate(-85%, -70%);
}

.products__img {
	display: block;
	max-height: 180%;
	max-width: 180%;
}
.products__filter {
	min-width: 550px;
	border-top: solid 10px #ffbc2f;
	border-right: solid 10px #ffbc2f;
	border-bottom: solid 10px #ffbc2f;
}
.products__filter--content {
	position: absolute;
	top: 5%;
	left: 52%;
}
.product__title {
	padding-bottom: 60px;
}
.products__name--color-yellow {
	font-size: 17px;
	font-family: "Roboto", Arial, sans-serif;
	color: #ffbc2f;
	font-weight: bold;
	margin-bottom: 5px;
}
.products__name--color-black {
	font-size: 47px;
	text-transform: uppercase;
	font-family: "Yanone Kaffeesatz", Arial, sans-serif;
	font-weight: bold;
	margin-bottom: 10px;
}
.products__price {
	display: inline-block;
	padding: 3px 15px;
	background-color: #ffbc2f;

}
.product__price-amount {
	font-size: 37px;
	font-family: "Yanone Kaffeesatz", Arial, sans-serif;
	font-weight: bold;
}
.products__data-tshirt li {
	padding-top: 20px;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 13px;
	color: #1b1b1b;
}
.products__data-tshirt :nth-child(1) {
	padding-top: 0;
}
.products__data-tshirt {
	margin-bottom: 60px;
}
.products__size {
	display: flex;
	margin-bottom: 25px;
}
.products__size--item {
	border: solid 2px #e0d9c8;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 6px;
	font-family: "Roboto", Arial, sans-serif;
	text-transform: uppercase;
	color: #cac3b3;
}
.products__size li:nth-child(3) {
	color: #1b1b1b;
	font-weight: bold;
}
.products__size li:nth-child(4) {
	font-weight: bold;
	color: #1b1b1b;
}
.products__size li:nth-child(5) {
	font-weight: bold;
	color: #1b1b1b;
}
.products__size li:nth-child(6) {
	font-weight: bold;
	color: #1b1b1b;
}
.products__size li:nth-child(7) {
	font-weight: bold;
	color: #1b1b1b;
}
.products__size li:nth-child(3):hover {
	background-color: #ffbc2f;
}
.products__size li:nth-child(4):hover {
	background-color: #ffbc2f;
}
.products__size li:nth-child(5):hover {
	background-color: #ffbc2f;
}
.products__size li:nth-child(6):hover {
	background-color: #ffbc2f;
}
.products__size li:nth-child(7):hover {
	background-color: #ffbc2f;
}
.products__color--filter {
	display: flex;
	margin-bottom: 30px;
}

.products__color--filter-item {
	margin-right: 20px;
	border-radius: 50%;
	height: 25px;
	width: 25px;
}

.products__color--filter li:nth-child(1) {
	background: #212121;
}
.products__color--filter li:nth-child(2) {
	border: solid 2px #e0d9c8;
}
.products__color--filter li:nth-child(3) {
	background: #529029;
}
.products__color--filter li:nth-child(4) {
	background: #39498d;
}
.products__color--filter li:nth-child(5) {
	background: #d82727;
}
.products__color--filter li:nth-child(1):hover {
	box-shadow: #ffffff 0 0 0 2px, #ffc92f 0 0 0 5px;
}
.products__color--filter li:nth-child(2):hover {
	box-shadow: #ffffff 0 0 0 2px, #ffc92f 0 0 0 5px;
}
.products__color--filter li:nth-child(3):hover {
	box-shadow: #ffffff 0 0 0 2px, #ffc92f 0 0 0 5px;
}
.products__color--filter li:nth-child(4):hover {
	box-shadow: #ffffff 0 0 0 2px, #ffc92f 0 0 0 5px;
}
.products__color--filter li:nth-child(5):hover {
	box-shadow: #ffffff 0 0 0 2px, #ffc92f 0 0 0 5px;
}
.products__button {
	display: inline-block;
	background-color: #d82727;
	padding: 10px 69px 8px 70px;
	color: #fff;
	font-family: "Yanone Kaffeesatz", Arial, sans-serif;
	font-weight: bold;
	font-size: 28px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1.4px;
}

.information {
	margin-top: 93px;
}
.dsc__line{
	margin-left: 34%;
	border-left: 1px solid #cac3b3;

}

.filter {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 95px;
}
.filter__item {
	text-transform: uppercase;
	font-size: 22px;
	font-family: "Yanone Kaffeesatz", Arial, sans-serif;
	margin-right: 65px;
	font-weight: 700;
	padding: 10px 21px 8px 21px;
}
.filter li:nth-child(1):hover {
	background: #212121;
	color: #ffc92f;
}
.filter li:nth-child(2):hover {
	background: #212121;
	color: #ffc92f;
}
.filter li:nth-child(3):hover {
	background: #212121;
	color: #ffc92f;
}
.filter li:nth-child(4):hover {
	background: #212121;
	color: #ffc92f;
}

.dsc {
	margin: 0 auto;
	width: 1100px;
	position: relative;
	margin-bottom: 75px;
}
.dsc__content {
	border: solid 10px #ffc92f;
	height: 298px;
	display: flex;
}

.dsc__care {
	font-size: 13px;
	font-family: "Roboto", Arial, sans-serif;
	position: absolute;
	top: 18%;
	left: 5%;
}
.dsc__care li {
	margin-top: 15px;
}
.dsc__care li:nth-child(1) {
	margin-top: 0px;
}
.dsc__item {
	display: flex;
	align-items: center;
}
.dsc__line-text {
	padding-left: 25px;
	max-width: 250px;
}

.dsc__icon {
	width: 24px;
	height: 24px;
}

.dsc__text {
	width: 600px;
	position: absolute;
	top: 18%;
	left: 40%;
	font-size: 13px;
	font-family: "Roboto", Arial, sans-serif;
	line-height: 20.5px;
}
.footer {
	margin: 0 auto;
	width: 1100px;
}
.site--menu__section {
	display: flex;
	justify-content: space-between;
	margin-bottom: 115px;
}
.site--menu__title {
	color: #1b1b1b;
	font-family: "Yanone Kaffeesatz", Arial, sans-serif;
	font-size: 22.5px;
	font-weight: bold;
	text-transform: uppercase;
}
.site--menu__item {
	padding-top: 20px;
}
.site--menu__link {
	font-family: "Roboto", Arial, sans-serif;
	color: #737373;
	font-size: 14px;
}
.site--menu__link:hover {
	color: #d82727;
}
.site--menu__text {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	font-family: "Roboto", Arial, sans-serif;
}
.site--menu__text-row {
	color: #1b1b1b;
}

.extras {
	padding-bottom: 85px;
	display: flex;
}

.extras__best {
	display: block;
	text-align: center;
	padding: 49px 146px 52px 134px;
	background-color: #212121;
	color: #fff;
	text-transform: uppercase;
	font-size: 47px;
	font-family: "Yanone Kaffeesatz", Arial, sans-serif;
	font-weight: bold;
	line-height: 1;
}
.extras__col {
	margin-right: 28px;
	flex: 1;
}
.extras__col:last-child {
	margin-right: 0;
}
.extras__col-socials {
	height: 100%;
	background-image: url("../img/pattern.png");
	display: flex;
	justify-content: center;
	align-items: center;
}
.socials {
	display: flex;
}
.socials__item {
	margin-right: 50px;
}
.socials__link {
	width: 38px;
	height: 38px;
	display: block;
}
.socials__link:hover {
	fill: #d82727;
}

.socials__icon {
	width: 100%;
	height: 100%;
}
